


server {
	listen 4000;

	server_name		www.pouet.fr;
}

server {
	#listen 4000;
	listen 4001;
	server_name		www.patate.fr;
}

server {
	listen 127.0.0.1:8000;
	# this is a comment

	server_name		webserv;

	index	hello.html;
	root /var/www/html;

	cgi .php /usr/bin/php-cgi;
	cgi .bla ./cgi/ubuntu_cgi_tester;

	error_page 500 502 503 504 /custom_50x.html;
#	error_page 500 /custom_50x.html;

	Location / {
		# this is a comment
		return 301 $scheme://www.new-name.com$request_uri;
		index vector.conf;

		autoindex off;
	}

	client_max_body_size 0;

	Location /storage {
		root /var/www;

		autoindex on;
		client_max_body_size 10M;
		methods GET POST;
		index index.html;

	}

	root /etc/;

	Location /dynamic {
		autoindex off;

		upload on;
		methods GET POST;
	}

}

