h1
{
    text-align: center;
    color:rgb(114, 0, 0);
}

a::before {
    position: absolute;
    content: attr(data-content);
    color: yellow;
    text-decoration: underline;
    clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
    transition: clip-path 275ms ease;
}

a:hover::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

body
{
    text-align: center;
    color:black;
    background: linear-gradient(90deg, rgb(214, 214, 214) 0%, rgb(165, 165, 165) 100%);
}